@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Inter";
}
a{
    text-decoration: none;
    color: #000;
}
.logo{
    height: calc(2.8vw + 28.7px);
}
section{
    padding: 0 calc(2.9vw + 8.8px);
    margin-bottom: 45px;
}
.greey{
    border-radius: 10px;
    background: #F2F2F2;
}
header{
    display: flex;
    align-items: center;
}
.logo{
    width: calc(8.4vw + 87px);
}
nav{
    display: flex;
    margin: 0 calc(8.7vw - 72.6px) 0 calc(17.3vw - 149px);
    justify-content: space-between;
    flex-grow: 1;
}
.headerMenu{
    display: flex;
    gap: calc(3.5vw - 17.8px);
}
.headerMenu li{
    font-size: calc(0.4vw + 10.5px);
    font-weight: 500;
    cursor: pointer;
}
.headerMenu li:hover{
    opacity: 0.7;
}
.contacts{
    display: flex;
    gap: 32px;
}
.burger_menu_wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 20px;
    display: none;
}
.burger_line{
    width: 25px;
    height: 3px;
    background-color:#222

}
.mobile_menu_wrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    animation: slideInRight 0.5s forwards;
    z-index: 2;
}
.mobile_menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px;
}
.mobile_menu li a,.mobile_menu a{
    color: #fff;
    font-size: 20px;
}
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideInBack {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
.close_wrapper{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    right: 30px;

}
.close{
    width: 100%;
    height: 100%;
    color: #fff;
}

/* Section1 start */
.section1{
    background-image: url(../img/Rectangle\ 1.png);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    padding-top: 58px;
    padding-bottom: 83px;
    position: relative;
}
.section1 h3{
    font-size: calc(1.1vw + 15.5px);
    color: white;

}
.section1 div{
    display: flex;
    border-radius: 10px;
    background: #F2F2F2;
    padding: calc(0.7vw + 5.4px) calc(1vw + 8.3px);
    width: 350px;
    gap: calc(0.9vw + 4.6px);
    position: absolute;
    bottom: -25px;
    right: 40px;
}
.section1 div img{
    width: calc(1vw + 6.3px);
}
.section1 div input{
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 100%;
}

/* Section1 End */

/* ========== Section2 start ========== */


.section2{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    gap: 0 8px;
}
.product_catalog_card{
    padding: 20px;
    margin-bottom: 20px;
    min-height: 180px;
}
.catalog_title{
    color: #1D0F76;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.product_catalog_card ul{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.product_catalog_card li{
    border-radius: 5px;
    background: #FFF;
    padding: 16px;
}
.catalogNews{
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}
.product_sliders{
    width:calc(95vw - 251px);
}

.product_sliders h1{
    margin:0 50px calc(2.9vw + 8.86px);
    color: #000;
    font-size: calc(1.1vw + 15.5px);
    font-weight: 600;
}
.product_sliders h3{
    margin-left:50px ;
    margin-bottom: 20px;
    font-size: calc(0.6vw + 15.8px);
    font-weight: 400;
}
.similar-items li {
    font-size: 14px;  /* Установите нужный размер шрифта */
    line-height: 1.2; /* Для улучшения читабельности */
}
.splide__track{
   width: 60% !important;
}
.splide__arrow--prev {
    left: 10em !important;
    font-size: 20px;
}
.splide__arrow--next {
    right: 10em !important;
    font-size: 20px;
}
.slider1_card{
    height: 450px !important;
}
.slider1_card img{
    width: 100%;
    height: 65%;
    border-radius: 10px 10px 0 0;
}
.slider1_catd_text{
    margin: 0 20px;
}
.slider1_catd_text h5 {
    margin: 15px 0;
    font-weight: 500;
    font-size: 14px;
}
.splide__track{
    width: 50%;
    margin: 0 auto;
}
.slider1_catd_text li{
    list-style:disc;
    margin-left: 15px;
}


/* ========== Section2 End ========== */


.news_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    gap: 20px;
}

.news_card{
    background-color: #7c7b8684;
    border-radius: 10px;
    height: 240px;
}

.photo_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    gap: 20px;
}
.photo_card{
    border-radius: 10px;
    height: 400px;
    -webkit-box-shadow: 0 3px 10px 2px #d1d1d1;
}
.photo_card img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 60%;
}
.photo_card h5{
    margin: 15px 0;
    font-weight: 500;
    font-size: calc(0.5vw + 9.4px);
    padding: calc(1.1vw + 4px);
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #232222;
    padding: 20px calc(2.9vw + 8.8px);
}
.footer_left{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
}
.footer_left img{
    width: calc(7.6vw + 90.2px);
}
.footer_title{
    color: #fff;
    margin-bottom: 10px;
}
.footer_subtitle{
    color: #8c8c8c;
    font-size: 14px;
}
.footer_right{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}
.footer_adress.social{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
.footer_right i{
    font-size: 30px;
}
.footer_adress{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer_adress a{
    color: #fff;
}
.footer_adress p{
    color: #fff;
}
.footer_adress span{
    color: #adadad;
}
.burger_menu{
    width: 100%;
    height: 100%;
    background-color: transparent;
}





@media (max-width:1190px) {
    header{
        justify-content: space-between;
    }
    nav{
        display: none;
    }
    .burger_menu_wrapper{
        display: flex;
    }
    .section1 div{
        width: calc(23vw + 59.3px);
    }

    .section2{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .section2.one{
        grid-template-rows: auto;
    }
    footer{
        flex-wrap: wrap;
        gap: 20px 0;
    }
    .footer_left,.footer_right{
        width: 100%;
        justify-content: space-between;
    }
    .product_sliders{
        width:calc(95.7vw - 29.7px)
    }
    
}
@media (max-width:870px){
    .news_container,.photo_container{
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }

}
@media (max-width:790px){
    .product_catalog{
        display: none;
    }
    .product_sliders{
        width: calc(79.5vw + 21.8px);
        margin: 0 auto;
    }
    .section2{
        grid-template-rows: auto;
    }
    .photo_card img{
        height: 60%;
    }

}

@media (max-width:570px){
    .footer_left{
        flex-direction: column;
        align-items: flex-start;
    }
    .section1 div{
        right: 5px;
        bottom: -15px;
    }
    .product_sliders h1,.product_sliders h3{
        margin-left:  0;
        margin-right: 0;
    }
    .news_container,.photo_container{
        grid-template-columns: 1fr;
    }
    .photo_card{
        height: 330px;
    }
    .photo_card img{
        height: 60%;
    }
    .photo_card h5{
        font-size: 16px;
    }
}