{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <img src="{% static '/mainapp/images/1_QsZIDofyfmZ1ctPl0Ee29w.jpg' %}" alt="">-->
<h1>Test</h1>
{% for product in product %}
    <h4>{{ product.title }}</h4>
    <h4>{{ product.reduction }}</h4>
    <h4>{{ product.category }}</h4>
    <br>
    <h1>{{ product.images.first.img.url }}</h1>
<!--    {% if product.img %}-->
<!--        <p>{{ product.img }}</p>-->
<!--        <img src="{{ product.img.img.url }}" alt="">-->
<!--    {% endif %}-->
<!--    {% for image in product.images.all %}-->
<!--        <img src="{{ image.img.url }}" alt="">-->
<!--    {% endfor %}-->
{% endfor %}

<!--<img src="{% static 'img/logo.png' %} " alt="">-->
</body>
</html>